# P
.DS_Store
*.DS_Store
.log

# Object files
.o
.ko

# Libraries
.lib
*.a

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
c/cmake_t/CMakeFiles/*
c/cmake_t/cmake_install.cmake
c/cmake_t/CMakeCache.txt
c/cmake_t/Makefile
c/cmake_t/hello
/html
