# P
bin
lib
include
.DS_Store
*.DS_Store
.log

# Object files
.o
.ko

# Libraries
.lib
*.a

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
pyvenv.cfg
__pycache__
c/cmake_t/CMakeFiles/*
c/cmake_t/cmake_install.cmake
c/cmake_t/CMakeCache.txt
c/cmake_t/Makefile
c/cmake_t/hello
/html/h5_tpl/uniapp-vite-vue3-pinia-ts
/html/h5_tpl/uni-preset-vue-vite-base/node_modules
*.log
html/h5_tpl/uni-preset-vue-vite-base/pnpm-lock.yaml
/rust/one/test01/target
node_modules
/cloudflare/worker/cacheimage
/python/python_bug_flask/logs/
/rust/test02/target
