{[template "backend/common/header_nonav.tmpl" .]}

<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            <div class="layui-card-body">

                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title" id="status">
                        {[range $menu := .submenu]}
                            <li data-status="{[$menu.Number]}" {[if IsSubOrEq $.CurrentPath (print "/" $.admin_path "/" $menu.Link)]}class="layui-this"{[end]}><a href="/{[$.admin_path]}/{[$menu.Link]}">{[$menu.Name]}</a></li>
                        {[end]}
                    </ul>
                </div>

                <div style="display:flex;align-items:center;gap:8px;margin-top: 1rem;">
                    <a href="/{[.admin_path]}/system/db" style="display:flex;align-items:center;">
                        <i class="layui-icon layui-icon-return"></i>  
                    </a>

                    <span style="margin:0;font-size:18px;">
                        {[if .Data]}{[.Data.Name]}{[end]}
                    </span>
                </div>

                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title" id="status">
                        <li data-status="1"><a href="/{[.admin_path]}/system/db/details?id={[.id]}">详情</a></li>
                        <li data-status="2" class="layui-this">清理</li>
                        <li data-status="3"><a href="/{[.admin_path]}/system/db/logs?id={[.id]}">运行日志</a></li>
                        <li data-status="4"><a href="/{[.admin_path]}/system/db/update?id={[.id]}">修改</a></li>
                    </ul>
                </div>


                <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                <form class="layui-form layui-form-pane" onclick="return false;">
                    <table class="layui-table">
                        <colgroup><col width="150"><col></colgroup>
                        <tbody>
                            <tr>
                                <td>媒介名称</td>
                                <td>
                                    {[if .Data]}{[.Data.MediaName]}{[end]}
                                </td>
                            </tr>

                            <tr>
                                <td>通知标题</td>
                                <td>
                                    <input type="text" name="title" autocomplete="off" class="layui-input" placeholder="这是通知标题" value="这是通知标题">
                                </td>
                            </tr>

                            <tr>
                                <td>这是通知内容</td>
                                <td>
                                    <input type="text" name="content" autocomplete="off" class="layui-input" placeholder="这是通知内容" value="这是通知内容">
                                </td>
                            </tr>

                            <tr>
                                <td>接收人标识</td>
                                <td>
                                    <input type="text" name="send_id" autocomplete="off" class="layui-input" placeholder="" value="{[if .Data]}{[.Data.RecipientID]}{[end]}">
                                    <p class="layui-font-12">群或用户的Chat ID，通常是一个数字，可以通过和 @get_id_bot 建立对话并发送任意消息获得。</p>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <input type="hidden" name="id" value="{[if .Data]}{[.Data.ID]}{[end]}">
                                    <button class="layui-btn" lay-filter="submit_recipients_test" lay-submit>提交测试</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

layui.config({base: '/static/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;


form.on("submit(submit_recipients_test)", function(data){
    var index = layer.load();
    var field = data.field;

    $.post("/{[$.admin_path]}/admin/recipients/instances/test", field, function(res) {
        showMsg(res.msg, function(){
            layer.close(index);
            if(res.code > -1){
                // parent.location.reload();
            }
        },{icon: res.code > -1 ? 1 : 2,shift:res.code>-1 ? 0 : 6});
    },'json');
    return false;
});

///
});
</script>

{[template "backend/common/footer.tmpl" .]}
