{[template "backend/common/header.tmpl" .]}

<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            <div class="layui-card-body">

                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title" id="status">
                        <li data-status="1" class="layui-this">管理员列表</li>
                        <li data-status="2" onclick="Admin.open('创建管理员','/{[$.admin_path]}/admin/add',700,630)"><a>创建管理员</a></li>
                    </ul>
                </div>


                <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                <form class="layui-form" action="" id="admin_form" onclick="return false;">

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input type="text" name="key" placeholder="用户名、全名 ..." autocomplete="off" class="layui-input h30" value="">
                        </div>
                    </div>
                

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm" id="table-sreach" data-id="list" lay-submit lay-filter="table-sreach"><i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </form>
                </div>
                <div id="list"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

layui.config({base: '/static/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;


table.render({
    elem: '#list',
    url: '/{[.admin_path]}/admin/list',
    title: '数据表',
    cols: [[
        {field:'username', title:'用户名'},
        {field:'full_name', title:'全名'},
        {field:'allow_login', title:'允许登录', toolbar:"#allowLoginTpl"},
        {field:'status', title:'状态', toolbar:"#statusTpl",width:100},
        {title:'操作', toolbar: '#cmdTpl', width:180, fixed: 'right'}
     ]],
    page: true
});


table.on('toolbar', function(obj){
    switch(obj.event){
    };
});

table.on('tool(list)', function(obj){
    switch(obj.event){
        case 'status':opStatus(obj);break;
    };
});

function opStatus(obj){
    layer.confirm('你真的更改状态吗?', { closeBtn: 2, icon: 3 }, function() {
        $.post('/{[.admin_path]}/admin/trigger_status', {'id':obj.data.id}, function(data) {
            showMsg(data.msg,function(){
                if (data.code>-1){
                    location.reload();
                }
            },{icon:data.code>-1?1:2});
        },'json');
    });
}


///
});
</script>


<script type="text/html" id="allowLoginTpl">
{{# if (d.allow_login){ }}
<span style="color:#16b777;">Y</span>
{{# } else { }}
<span style="color:#e2e2e2;">N</span>
{{# } }}
</script>

<script type="text/html" id="statusTpl">
{{# if (d.status == 1){ }}
<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="status">已启用</a>
{{# } else if (d.status == 0) { }}
<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="status">已暂停</a>
{{# } }}
</script>

<script type="text/html" id="cmdTpl">
<a class="layui-btn layui-btn-xs" onclick="Admin.open('创建管理员','/{[$.admin_path]}/admin/add?id={{d.id}}',700,630)">修改</a>
<a class="layui-btn layui-btn-xs" href='/{[.admin_path]}/admin/details?id={{d.id}}'>详情</a>
<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event='delete' onclick="Admin.del(this, 'delete','{{d.id}}')">删除</a>
</script>

{[template "backend/common/footer.tmpl" .]}