<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>MGO安装</title>
        <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css?v={[.version]}">
        <link rel="stylesheet" href="/static/common/css/install.css?v={[.version]}">
        <script type="text/javascript" src="/static/layuiadmin/layui/layui.js?v={[.version]}"></script>
        <script src="/static/common/js/jquery-1.10.2.min.js?v={[.version]}"></script>
        <script src="/static/common/js/clipboard.min.js"></script>
        <script src="/static/common/js/common.js?v={[.version]}"></script>
        <script src="/static/common/js/xm-select.js?v={[.version]}"></script>
        <script src="/static/common/js/tag.js?v={[.version]}"></script>
        <script>
            var ROOT_PATH = "__ROOT__", ADMIN_PATH="{$_SERVER['SCRIPT_NAME']}";
        </script>
    </head>
<body>
<div class="header">
    <h1>MGO安装</h1>
</div>