            </div>
        </div>

        <!-- <div class="layui-footer" style="height: 20px;line-height: 20px; text-align: center;">管理</div> -->
      
    </div>
</div>
<!-- end -->

<!-- 辅助元素，一般用于移动设备下遮罩 -->
<div class="layadmin-body-shade" layadmin-event="shade"></div> 
<script>
layui.config({
    base: '/static/layuiadmin/'
}).extend({
    index: 'lib/index'
}).use(['layer','form','element','table','laydate','util','index','table','jquery'], function(){
///

var layer = layui.layer;
var form = layui.form;
var element = layui.element;
var table = layui.table;
var laydate = layui.laydate;
var util = layui.util;

var $ = layui.$
,form = layui.form;


/// 
});
</script>

  
</body>
</html>