[mysqld_multi] 
mysqld    = /usr/local/mysql/bin/mysqld  
mysqladmin = /usr/local/mysql/bin/mysqladmin
log        = /tmp/mysql_multi.log 

[mysqld0]
port = 3306
datadir = /DB/server0
socket = /var/lib/mysql/mysql.sock
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION 


[mysqld1]
port = 3307
datadir = /DB/server1
socket = /var/lib/mysql/mysql1.sock


[mysqld2]
port = 3308
datadir = /DB/server2
socket = /var/lib/mysql/mysql2.sock

#skip-grant-tables 
#skip-networking
