{[template "backend/common/header_nonav.tmpl" .]}

<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            <div class="layui-card-body">

                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title" id="status">
                        {[range $menu := .submenu]}
                            <li data-status="{[$menu.Number]}" {[if IsSubOrEq $.CurrentPath (print "/" $.admin_path "/" $menu.Link)]}class="layui-this"{[end]}><a href="/{[$.admin_path]}/{[$menu.Link]}">{[$menu.Name]}</a></li>
                        {[end]}
                    </ul>
                </div>


                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title" id="status">
                        {[range $db_menu := .database_submenu]}
                            <li data-status="{[$db_menu.Number]}" {[if IsSubOrEq $.CurrentPath (print "/" $.admin_path "/" $db_menu.Link)]}class="layui-this"{[end]}><a href="/{[$.admin_path]}/{[$db_menu.Link]}">{[$db_menu.Name]}</a></li>
                        {[end]}
                    </ul>
                </div>


                <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                <form class="layui-form" action="" id="log_form" onclick="return false;">

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input name="times" class="layui-input date-icon h30" type="text" placeholder="请选择日期范围" autocomplete="off" lay-key="1">
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input type="text" name="key" placeholder="请输入关键字" autocomplete="off" class="layui-input h30" value="">
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm" id="table-sreach" data-id="list" lay-submit lay-filter="table-sreach"><i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </form>
                </div>
                <div id="list"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

layui.config({base: '/static/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;


table.render({
    elem: '#list',
    url: '/{[.admin_path]}/log/list',
    title: '数据表',
    cols: [[
        {field:'content', title:'内容'},
        {field:'uid', title:'用户ID'},
        {field:'ip', title:'IP'},
        {title:'操作', toolbar: '#cmdTpl', width:70, fixed: 'right'}
     ]],
    page: true
});


table.on('tool(list)', function(obj){
    switch(obj.event){
    };
});

table.on('toolbar', function(obj){
    switch(obj.event){
    };
});


///
});
</script>


<script type="text/html" id="cmdTpl">
<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event='delete' onclick="Admin.del(this, 'delete','{{d.id}}')">删除</a>
</script>

{[template "backend/common/footer.tmpl" .]}